* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black !important;
}

.marquee {
    position: relative;
    left: 30%;
    width: 40%;
}

h1, h2, h3 {
    text-align: center;

    color: white !important;
}

h2{
    margin: 10px;
}

#contenedorDatos {
    height: 150px;
    width: 100%;

    border-top: 1px solid gold;
    border-bottom: 1px solid gold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 0, 0, 0.285);
}

p {
    display: none;
    color: white;
    text-align: center;
}

.btn-filtro {
    background-color: black !important;
    color: white !important;
}

#contenedorBotones {
    text-align: center;
    margin: 50px;
}

#collapseExample {
    width: 135px !important;
    position: relative;

    left: 928px !important;
}

.btn {
    background-color: rgba(255, 217, 0, 0.90) !important;

    color: black !important;
}

.btn-interno {
    background: black !important;

    color: white !important;
}

.btn-collapse {
    width: 120px !important;
    margin: 5px !important;

    font-size: 10px !important;
}

.card-body {
    display: flex;
    flex-direction: column;

    background-color: gold !important;

    align-items: center;
}

#contenedorLista {
    display: flex;
    width: 40% !important;

    box-shadow: 7px 7px 7px rgba(255, 255, 255, 0.526);

    border: 1px solid gold;
    
    margin-right: auto;
    margin-left: auto;

    align-items: center;
    justify-content: start;

    background-color: rgba(255, 0, 0, 0.285);
    border-radius: 10px;
}

#contenedorLista ul {
    list-style: none;
}

#contenedorLista li {
    color: white !important;
}



#listaAlumnos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#listaAlumnos li button {
    margin-right: 10px !important; 

    border-radius: 10px;
}

.loader {
    border: 8px solid rgba(216, 74, 74, 0.55); /* Light grey */
    border-top: 8px solid gold; /* Blue */
    border-radius: 50%;
    position: relative;
    left: 45% !important;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




