.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    background-color: rgb(255, 174, 174);
}

.rigth-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;

    list-style-type: none;
}

.botones {
    border-radius: 8px;
}




